export HOMEBREW_PREFIX="/opt/homebrew";
export HOMEBREW_CELLAR="/opt/homebrew/Cellar";
export HOMEBREW_REPOSITORY="/opt/homebrew";

export LESSHISTFILE="$XDG_STATE_HOME"/less/history
export MANPAGER="nvim +Man!"

export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_NO_ANALYTICS=1

export EDITOR=nvim
export VISUAL=nvim

# https://github.com/tealdeer-rs/tealdeer/issues/311
export TEALDEER_CONFIG_DIR="$XDG_CONFIG_HOME/tealdeer"

export MISE_PYTHON_DEFAULT_PACKAGES_FILE="$XDG_CONFIG_HOME"/mise/python-packages

export TERMINFO="$XDG_DATA_HOME"/terminfo                                                                             
export TERMINFO_DIRS="$XDG_DATA_HOME"/terminfo:/usr/share/terminfo

