#!/usr/bin/env zsh

{{ .homebrew.prefix }}/bin/dockutil --remove all --no-restart

{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/Launchpad.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/Applications/Safari.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/Messages.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/Mail.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/Maps.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/Photos.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/Calendar.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/Contacts.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/Music.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/News.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/App Store.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/Applications/iTerm.app' --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '/System/Applications/System Settings.app' --no-restart

{{ .homebrew.prefix }}/bin/dockutil --add '/Applications' --view grid --display folder --no-restart
{{ .homebrew.prefix }}/bin/dockutil --add '~/Downloads' --view grid --display folder --no-restart

killall Dock
