#!/usr/bin/env zsh

set -eufo pipefail

if ! command -v brew >/dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

if [[ "{{ .chezmoi.arch }}" == arm64 ]] && ! [[ -f /Library/Apple/usr/share/rosetta/rosetta ]]; then
  softwareupdate --install-rosetta --agree-to-license
fi

